asgiref==3.5.2
attrs==22.1.0
backports.zoneinfo==0.2.1
bcrypt==4.0.1
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
cryptography==38.0.1
distro==1.8.0
Django==4.0.6
django-browser-reload==1.6.0
django-crontab==0.7.1
django-environ==0.9.0
django-material==1.11.3
django-materialize-form==0.1.1
docker==6.0.0
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
idna==3.4
jsonfield==3.1.0
jsonschema==3.2.0
packaging==21.3
paramiko==2.11.0
Pillow==9.2.0
pycparser==2.21
PyJWT==2.5.0
PyNaCl==1.5.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-dotenv==0.21.0
pytz==2022.4
PyYAML==5.4.1
requests==2.28.1
six==1.16.0
sqlparse==0.4.2
texttable==1.6.4
twilio==7.14.1
urllib3==1.26.12
websocket-client==0.59.0
