asgiref==3.5.2
backports.zoneinfo==0.2.1;python_version<"3.9"
Django==4.0.6
django-browser-reload==1.6.0
jsonfield==3.1.0
Pillow==9.2.0
sqlparse==0.4.2
asgiref==3.5.2
backports.zoneinfo==0.2.1
certifi==2022.9.24
charset-normalizer==2.1.1
Django==4.0.6
django-browser-reload==1.6.0
django-crontab==0.7.1
django-environ==0.9.0
django-material==1.11.3
django-materialize-form==0.1.1
idna==3.4
jsonfield==3.1.0
Pillow==9.2.0
PyJWT==2.5.0
pytz==2022.4
requests==2.28.1
six==1.16.0
sqlparse==0.4.2
twilio==7.14.1
urllib3==1.26.12
