/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#add_bill_to_paycheck_name{
  color:green;
}

h1{
  color:red;
}

h5{
  color:black;
}

modal{
  background_color: black;
}
