/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


body {
  background-image: url(https://wallpaperaccess.com/full/343390.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.card-content{
  background-color: rgba(255, 255, 255, 0.3);

}

td{
  text-align: center;
  border: solid 5px black;
  margin-left: 10px;
}


.input-field label {
  pointer-events: auto;
}


.pending{
  background-color: purple;
}

.done{
  background-color: green;
}

.parent_approved{
  background-color: purple;
}

.late{
  background-color: yellow;
}

.failed{
  background-color: red;
}

.in_progress{
  background-color: #80ced6;
}
